body{
    font-family: sans-serif;
    text-align: center;
    
    /* border: 3px solid red; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1{
    margin: 1;
    padding: 0;
    font-size: medium;
}

.btn-start-game{
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.container{
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

table{
    border-collapse: collapse;
    margin: 0 auto;
}

table tr td{
    border: 1px solid black;
    text-align: center;
    /* width: 30px;
    height: 30px; */
    padding: 20px;
}

.board-game{
    display: grid;
    margin: auto;
    flex-grow: 1;
    /* width: 30%; */
    aspect-ratio: 1 / 1;
}

.cell{
    align-content: center;
    border: 1px solid black;
    border-collapse: collapse;
}


/* Background colors según número de bombas */
.bombs-0{
    background-color: #a2a2a2bf;
    color: transparent
}

.bombs-1{
    background-color: #55dd12ae;
}

.bombs-2{
    background-color: #eeff69ce;
}

.bombs-3{
    background-color: #ffb028d4;
}

.bombs-4{
    background-color: #ff651dbc;
}

.bombs-5, .bombs-6, .bombs-7, .bombs-8{
    background-color: #ff1500c6;
}