body{
    font-family: sans-serif;
    text-align: center;
    
    /* border: 3px solid red; */
    padding: 0;
    margin: 0;
    /* Con grilla de 2 filas (una para el h1 y la otra para los elementos del juego) */
    display: grid;
    grid-template-rows: auto 1fr;
    /* flex-direction: column; */
    box-sizing: border-box;
    min-height: 100vh; /* Toda la pantalla */
}

h1{
    margin: 1px;
    padding: 0;
    font-size: medium;
}

button{
    margin: 5px;
}

.btn-start-game{
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.container{
    /* border: 3px solid blue; */
    display: grid;
    height: 100%;
    min-height: 0;
    overflow: hidden;
    gap: 10px; /* Separación entre elementos de la grilla */
    width: 100vw; /* Aseguramos que el contenedor no mida más que la pantalla */
}

.head-options{
    font-size: small;
    grid-row: 1;
    grid-column: 2 / 3;

    /* Flex para ajstar los elementos internos */
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-self: flex-start;
    overflow-y: auto; /* Si el contenido no cabe a lo alto, aparece scroll AQUÍ */
    box-sizing: border-box;

    /* Estética para que se vea integrado */
    border-left: 1px solid #ccc;
    background-color: #f9f9f9;
}

.board-game{
    grid-row: 1;
    grid-column: 1 / 2;
    
    display: grid;
    height: 100%;
    /* Usamos una variable. Si no existe, por defecto será 1/1 */
    aspect-ratio: var(--board-aspect, 1 / 1);

    box-sizing: border-box;
    /* CENTRADO CLAVE */
    justify-self: center; /* Centra horizontalmente dentro de su columna */
    align-self: center;   /* Centra verticalmente si el h1 es pequeño */

    min-height: 300px; /* Evita que el juego se vuelva minúsculo */    
    max-width: 100%; /* No puede ser más ancho que su columna (el 80% restante) */
    max-height: 100%; /* No puede ser más alto que el espacio disponible */
    object-fit: contain; /* Ayuda a mantener la proporción si hay conflictos */
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

/* Background colors según número de bombas */
.bombs-0{
    background-color: #a2a2a2bf;
    color: transparent
}

.bombs-1{
    background-color: #55dd12ae;
}

.bombs-2{
    background-color: #eeff69ce;
}

.bombs-3{
    background-color: #ffb028d4;
}

.bombs-4{
    background-color: #ff651dbc;
}

.bombs-5, .bombs-6, .bombs-7, .bombs-8{
    background-color: #ff1500c6;
}